<ion-nav-bar animation="none">

</ion-nav-bar>
<ion-view title="smartcity">
    <ion-content>
        <form name="loginForm" ng-submit="login()">
            <ion-list>
                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Username</span>
                    <input type="text" required placeholder="username" ng-model="loginData.username">
                </ion-item>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Password</span>
                    <label ng-switch="showPassword">
                        <input ng-switch-when="true" type="text" required placeholder="password"
                               ng-model="loginData.password">
                        <input ng-switch-default type="password" required placeholder="password"
                               ng-model="loginData.password">
                    </label>
                </label>
                <label class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="showPassword">
                    </label>
                    <small>Show password</small>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Server Uri</span>
                    <input type="url" required placeholder="server url" ng-model="loginData.serverUrl">
                </label>
                <ion-item ng-if="!isWebView" class="item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="loginData.useProxy">
                    </label>
                    <small>Use proxy</small>
                </ion-item>
                <ion-item class="item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="loginData.remember">
                    </label>
                    <small>
                        Remember
                    </small>
                </ion-item>
            </ion-list>
            <div class="padding">
                <button ng-disabled="!loginForm.$valid" class="button button-block button-positive">Login</button>
            </div>
        </form>
    </ion-content>
</ion-view>